.flows-menu{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flows-menu__flow{
  flex: 1;
}

.flows-menu__add{
  align-self: center;
  justify-self: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu-option{
  background-color: #dfdfdf;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;  
}

.menu-option.selected{
  box-shadow: -5px 5px 5px 0px #dfdfdf;
}

.menu-module{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.menu-module__header{
  box-shadow: -5px 10px 10px 0px #dfdfdf; 
  padding: 5px;
  background: purple;
  color: white;
  font-size: 17px;
}

.menu-module__nodes{
  padding: 5px;
  background: #dfdfdf;
}

.menu-module__nodes > div{
  padding-bottom: 10px;
  cursor: pointer;
}

.flow-menu{
  display: flex;
  flex: 0.13;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
}

.flow-menu >ul{list-style:none;padding:0;}
.flow-menu >ul>li{margin-top:5px;}
